body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f9f9f9;
}

h1 {
  color: #004d99;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

select, button {
  padding: 6px 12px;
  margin-top: 5px;
  border-radius: 4px;
}
